@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.bg-primary {
		background-color: #003049;
	}

	.bg-secondary {
		background-color: #023c5c;
	}

	.text-primary {
		color: #003d5e;
	}

	.stylish-line-after::after {
		content: "";
		border-top: 1.3px solid #003049;
		bottom: 5px;
		position: absolute;
		right: -15px;
		transform: rotate(-45deg);
		width: 17px;
	}

	.stylish-line {
		position: relative;
		height: 17px;
		border-bottom: 1.3px solid #003049;
		line-height: 3px;
	}
}

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	--primary-color: #02466a;

	/* color: #ffffffde; */
	color: black;
	background-color: #ffffff;
	font-family: "Play", sans-serif;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.logo {
	height: 4em;
	padding: 0.5em;
	will-change: filter;
	transition: filter 300ms;
}

a {
	text-decoration: inherit;
	color: #adb5bd;
}

a:hover {
	color: white;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

input[type="search"]::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}
input[type="search"]::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}
